<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= host %> </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="./favicon.gif" type="image/gif" />
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="font-size: 68px; text-align: center; margin: 20px;">Chatterino config</h1>
		<p>Request URL: <a style="color: #2cca00"><%= protocol %>://<%= host %>/upload</a></p>
		<p>Form field: <a style="color: #2cca00">data</a></p>
		<p>Image link: <a style="color: #2cca00">link</a></p>
		<p>Delete link: <a style="color: #2cca00">deleteLink</a></p>
    </div>
</body>
</html>
