<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= host %> </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="./favicon.gif" type="image/gif" />
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="font-size: 68px; text-align: center; margin: 20px;"><%= host %></h1>
        <p style="text-align: center; font-size: 22px;"><%= CONFIG.siteInfo %></p>
        <div id="drop-area">
            <p style='padding: 0;margin: 0; color: #123718bf;'>Arrastra, Pega o Selecciona archivos.</p>
            <input type="file" id="fileElem" accept="*/*" style="display: none;">
            <!-- <label for="fileElem" class="button">Select File</label> -->
        </div>
        <div id="upload-status"></div>
    </div>
    <div>
        <div style="text-align:center;">
        <p>
            <a href='./chatterino'>Chatterino Config</a> | 
			<a href='./sharex.sxcu'>ShareX Config</a> | 
			<a href='https://codeberg.org/Fijxu/file-uploader-crystal'>
			file-uploader-crystal (BETA <%= CURRENT_TAG %> - <%= CURRENT_VERSION %> @ <%= CURRENT_BRANCH %>)
			</a>
        </p>
        <p>Archivos alojados: <%= files_hosted %></p>
        <% if CONFIG.blockTorAddresses %>
        <p style="color: red"><%= CONFIG.torMessage %></p>
        <% end %>
		<% if !CONFIG.alternativeDomains.empty? %>
		<p>
		<% CONFIG.alternativeDomains.each do | domain | %>
			<a href="https://<%= domain %>"><%= domain %></a> 
		<% end %>
        </p>
        <% end %>
        </div>
</body>
</html>
